img_erro RCDATA "SOURCE\\IMAGES\\dialog-error.png"
img_info RCDATA "SOURCE\\IMAGES\\dialog-information.png"
img_pergunta RCDATA "SOURCE\\IMAGES\\dialog-question.png"
img_cuidado RCDATA "SOURCE\\IMAGES\\dialog-warning.png"
